
body{background-color:white;}
.main{height:15vw;
  background: linear-gradient(to right, grey 0%, black 100%);

}

  .main_image
  {height:15vw;
    float: left;
    margin-right: 2vw;

}


table{font-size: 1vw;}
li{font-size: 1vw;}
em{font-Size: 1.5vw;}
hr{color: red;}
